$f: bold; 

button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    background-color: green;
}

button:hover {
    background-color: red;
}

#info{
    font-weight: $f;
}

div {
    font-size: 18px;

    p{
        color: red;
    }

    ul {
        color: green;
    }
}

